*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.home{
    background-color: rgb(25, 25, 25);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 58%);
    width: 100%;
    height: 100vh;
    z-index: -10;
    /* position: relative; */
}



.logo{
    width: 90px;
    height: auto;
}
.navbar-brand{
    padding-right: 15%;
}

.active:active{
    color: #FEA116;
}

.active:hover{
    color: black;
    background-color: green;
    border-radius: 30px;
}

.nav-link:hover:not(.active){
    background-color: #0b778dd3;
    color: black;
    border-radius: 50px;
}

.hero{
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 5%;
}



.hero-img{
    width: 65%;
    height: 45vh;
    border-radius: 20px;
    margin-left: 15%;
    transform: rotate(-10deg);
}


@keyframes fade {

    
}



.hero-text{
    margin-right: 5%;
}

.hero-btn{
    border-radius: 100px;
    padding: 100px;
}

@media screen and (max-width: 400px){
    .content{
        display: none;
    }
    .navbar-brand{
        display: none;
    }

    .hero-text h1{
        font-size: 35px;
        margin-top: -40%;
    }
}

@media (min-width: 400px) and (max-width: 550px){
    .content{
        display: none;
    }
    .navbar-brand{
        display: none;
    }

    .hero-text h1{
        font-size: 35px;
        margin-top: -28%;
    }
}

@media (min-width: 550px) and (max-width: 786px){
    .content{
        display: none;
    }
    .navbar-brand{
        display: none;
    }

    .hero-text h1{
        margin: auto;
        font-size: 35px;
        margin-top: -20%;
    }
}

/* explore section  */
.explore{
    background-color: #F7F9FC;
    width: 100%;
    height: 40vh;
}

.e-text{
    padding-top: 50px;
}

.e-text h1{
    color: #2C9C90;
    font-size: 30px;
}
.e-text h1 span{
    border: 15px solid #44b5aa;
    margin-left: 30px;
    padding: 5px;
    border-radius: 30px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.e-p{
    padding: 30px 20px 0 10px;
}

.e-img{
    width: 70%;
    height: 40vh;
}

@media screen and (max-width: 400px){
    .explore{
        height: 70vh;
    }
    .explore-row{
        display: flex;
        flex-direction: column;
    }
    .e-text{
        width: 100%;
    }
    .e-text h1, .e-text p, .e-btn{
        align-items: center;
        text-align: center;
    }


    .e-text h1 span{
        display: none;
    }

    .e-card{
        width: 100%;
    }
    .e-img{
        position: absolute;
        top: 70%;
        left: 15%;
    }
}

@media (min-width: 400px) and (max-width: 550px){
    .explore{
        height: 60vh;
    }
    .explore-row{
        display: flex;
        flex-direction: column;
    }
    .e-text{
        width: 100%;
    }
    .e-text h1, .e-text p, .e-btn{
        align-items: center;
        text-align: center;
    }

    .e-card{
        width: 100%;
    }
    .e-img{
        width: 60%;
        position: absolute;
        top: 60%;
        left: 20%;
    }
}

@media (min-width: 550px) and (max-width: 800px){
    .explore{
        height: 50vh;
    }
    .explore-row{
        display: flex;
        flex-direction: column;
    }
    .e-text{
        width: 100%;
    }
    .e-text h1, .e-text p, .e-btn{
        align-items: center;
        text-align: center;
    }
    

    .e-card{
        width: 100%;
    }
    .e-img{
        width: 60%;
        height: 60vh;
        position: absolute;
        top: 50%;
        left: 20%;
    }
}


/* tools section is starting from here  */
.tools{
    width: 100%;
    height: 100vh;
    background-color: #D8F0E1;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

.t-container{
    display: flex;
    flex-direction: row;
    padding: 15% 0 0 8%;
}
.t-1{
    width: 50%;
    height: 55vh;
    margin-right: 10px;
}
.t-1 p, .t-2 p{
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

.t-2{
    padding-left: 5%;
    width: 50%;
    height: 55vh;
    margin-left: 10px;
    background-color: rgba(247, 249, 252, 0.611);
}

@media screen and (max-width: 400px){
    .tools{
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 5%;
    }
    .t-container{
        display: flex;
        flex-direction: column;
        padding: 5% 5% 0 5%;
    }
    
    .t-1, .t-2{
        width: 80%;
        padding: 0;
        margin: 0;
    }
    .t-1{
        width: 100%;
        height: 62vh;
    }
    .t-2{
        width: 100%;
        height: 70vh;
    }
}

@media screen and (max-width: 786px){
    .tools{
        height: 125vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 15%;
    }
    .t-container{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .t-1, .t-2{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}